@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-inter: var(--inter, var(--font-sans));
  --font-comic-sans: "Comic Sans MS", var(--font-sans);
  --breakpoint-xs: 30rem;

  --text-button: 0.875rem;
  --text-button--line-height: 1rem;
  --text-button--font-weight: 500;

  --text-button-lg: 1rem;
  --text-button-lg--line-height: 1.25rem;
  --text-button-lg--font-weight: 500;
}

button {
  @apply cursor-default disabled:cursor-not-allowed;
}

* {
  @apply outline-blue-500;
}

@layer utilities {
  .prose {
    @apply max-w-none;
  }

  .prose img {
    @apply my-1;
  }

  .prose a {
    @apply border-b border-blue-600 font-semibold text-zinc-700 no-underline;
    &:hover {
      @apply border-b-2 border-blue-700;
    }
  }

  .dark .prose a {
    @apply border-b border-blue-500 font-semibold text-white no-underline;
    &:hover {
      @apply border-b-2 border-blue-400;
    }
  }

  .prose h2 {
    @apply mb-1 text-lg font-semibold text-zinc-700;
  }

  .dark .prose h2 {
    @apply mb-1 text-lg font-semibold text-white;
  }
}
