@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-inter: var(--inter, var(--font-sans));
  --font-comic-sans: "Comic Sans MS", var(--font-sans);
  --breakpoint-xs: 30rem;

  --text-button: 0.875rem;
  --text-button--line-height: 1.25rem;
  --text-button--font-weight: 500;

  --text-button-lg: 1rem;
  --text-button-lg--line-height: 1.25rem;
  --text-button-lg--font-weight: 500;

  --color-*: initial;

  --text-color-*: initial;
  --text-color-inverse: #ffffff;
  --text-color-primary: #3f3f46;
  --text-color-primary-dark: #e4e4e7;
  --text-color-secondary: #71717a;
  --text-color-secondary-dark: #a1a1aa;
  --text-color-placeholder: #71717a;
  --text-color-placeholder-dark: #a1a1aa;
  --text-color-icons-accent-number: #d97706;
  --text-color-icons-accent-search-items: #1ab0af;
  --text-color-icons-accent-subform: #4f46e5;
  --text-color-icons-accent-text-fields: #2563eb;
  --text-color-light: #2563eb;
  --text-color-light-dark: #3b82f6;
  --text-color-error: #dc2626;
  --text-color-disabled: #e4e4e7;
  --text-color-btn-disabled-dark: #3f3f46;
  --text-color-info: #047857;
  --text-color-info-dark: #d1fae5;

  --text-color-pokemon-mythical: #ec4899;
  --text-color-pokemon-legendary: #facc15;
  --text-color-pokemon-bug: #1a2e05;
  --text-color-pokemon-dark: #ffffff;
  --text-color-pokemon-dragon: #ffffff;
  --text-color-pokemon-electric: #422006;
  --text-color-pokemon-fairy: #831843;
  --text-color-pokemon-fighting: #ffffff;
  --text-color-pokemon-fire: #431407;
  --text-color-pokemon-flying: #0c4a6e;
  --text-color-pokemon-ghost: #ffffff;
  --text-color-pokemon-grass: #022c22;
  --text-color-pokemon-ground: #ffffff;
  --text-color-pokemon-ice: #164e63;
  --text-color-pokemon-normal: #18181b;
  --text-color-pokemon-poison: #1e1b4b;
  --text-color-pokemon-psychic: #500724;
  --text-color-pokemon-rock: #ffffff;
  --text-color-pokemon-steel: #ffffff;
  --text-color-pokemon-water: #172554;

  --background-color-*: initial;
  --background-color-default: #ffffff;
  --background-color-default-dark: #18181b;
  --background-color-accent-code: #bfdbfe;
  --background-color-accent-text-fields: #dbeafe;
  --background-color-accent-subform: #e0e7ff;
  --background-color-accent-search-items: #e8f9f9;
  --background-color-accent-number: #fef3c7;
  --background-color-sunken: #fafafa;
  --background-color-sunken-dark: #09090b;
  --background-color-sunken-secondary: #f4f4f5;
  --background-color-sunken-secondary-dark: #27272a;
  --background-color-sunken-tertiary: #e4e4e7;
  --background-color-sunken-tertiary-dark: #3f3f46;
  --background-color-btn-active: #f4f4f5;
  --background-color-btn-active-dark: #27272a;
  --background-color-btn-disabled: #fafafa;
  --background-color-btn-disabled-dark: #27272a50;
  --background-color-btn-primary: #2563eb;
  --background-color-btn-primary-hover: #1d4ed8;
  --background-color-btn-primary-pressed: #1e40af;
  --background-color-btn-primary-dark: #2563eb;
  --background-color-btn-primary-hover-dark: #1d4ed8;
  --background-color-btn-primary-pressed-dark: #1e40af;
  --background-color-btn-secondary: #f4f4f5;
  --background-color-btn-secondary-hover: #e4e4e7;
  --background-color-btn-secondary-pressed: #d4d4d8;
  --background-color-btn-secondary-dark: #27272a;
  --background-color-btn-secondary-hover-dark: #3f3f46;
  --background-color-btn-secondary-pressed-dark: #52525b;
  --background-color-btn-light-hover: #eff6ff;
  --background-color-btn-light-pressed: #dbeafe;
  --background-color-btn-light-hover-dark: #27272a;
  --background-color-btn-light-pressed-dark: #3f3f46;
  --background-color-btn-ghost-hover: #f4f4f5;
  --background-color-btn-ghost-pressed: #e4e4e7;
  --background-color-btn-ghost-hover-dark: #27272a;
  --background-color-btn-ghost-pressed-dark: #3f3f46;
  --background-color-btn-ghost-checked: #eff6ff;
  --background-color-btn-ghost-checked-dark: #1e3a8a20;
  --background-color-elevation-surface-blanket-top: #09090b30;
  --background-color-elevation-surface-blanket-top-dark: #09090b75;
  --background-color-info: #d1fae5;
  --background-color-info-dark: #047857;

  --background-color-pokemon-stat-hp: #dc2626;
  --background-color-pokemon-stat-attack: #f97316;
  --background-color-pokemon-stat-defense: #eab308;
  --background-color-pokemon-stat-special-attack: #22c55e;
  --background-color-pokemon-stat-special-defense: #3b82f6;
  --background-color-pokemon-stat-speed: #a855f7;
  --background-color-pokemon-bug: #9f9f28;
  --background-color-pokemon-dark: #3f3f46;
  --background-color-pokemon-dragon: #4f46e5;
  --background-color-pokemon-electric: #fde047;
  --background-color-pokemon-fairy: #fbcfe8;
  --background-color-pokemon-fighting: #92400e;
  --background-color-pokemon-fire: #fb923c;
  --background-color-pokemon-flying: #bae6fd;
  --background-color-pokemon-ghost: #7c3aed;
  --background-color-pokemon-grass: #34d399;
  --background-color-pokemon-ground: #854d0e;
  --background-color-pokemon-ice: #a5f3fc;
  --background-color-pokemon-normal: #e7e5e4;
  --background-color-pokemon-poison: #c084fc;
  --background-color-pokemon-psychic: #f472b6;
  --background-color-pokemon-rock: #a16207;
  --background-color-pokemon-steel: #6b7280;
  --background-color-pokemon-water: #60a5fa;

  --outline-color-*: initial;
  --outline-color-primary: #3b82f6;

  --ring-color-*: initial;
  --ring-color-primary: #3b82f6;

  --stroke-*: initial;
  --stroke-primary: #18181b;

  --text-decoration-color-*: initial;
  --text-decoration-color-primary: #2563eb;
  --text-decoration-color-primary-hover: #3b82f6;

  --border-color-*: initial;
  --border-color-primary: #e4e4e7;
  --border-color-secondary: #f4f4f5;
  --border-color-primary-dark: #3f3f46;
  --border-color-secondary-dark: #27272a;
  --border-color-light: #3b82f6;
}

button {
  @apply cursor-default disabled:cursor-not-allowed;
}

* {
  @apply outline-primary;
}

@layer utilities {
  .prose {
    @apply max-w-none;
  }

  .prose img {
    @apply my-1;
  }

  .prose a {
    @apply font-semibold underline decoration-primary underline-offset-4 hover:decoration-primary-hover hover:decoration-2;
  }
  .prose h2 {
    @apply mb-1 text-lg font-semibold text-primary dark:text-primary-dark;
  }
}
